{
  "parser": "@typescript-eslint/parser",
  "extends": [
      "airbnb",
      "plugin:prettier/recommended"
  ],
  "plugins": [
      "prettier"
  ],
  "parserOptions": {

  },
  "rules": {
      "prettier/prettier": ["error"],
      "import/no-unresolved": "off",
      "import/no-extraneous-dependencies": "off",
      "import/extensions": "off"
  }
}